[workspace]
exclude = ["crates/test_data"]
members = ["crates/*", "crates/db/entity", "crates/db/migration"]
default-members = ["crates/kellnr"]
resolver = "2"

[workspace.package]
authors = ["kellnr.io"]
edition = "2024"
version = "0.1.0"
license-file = "LICENSE"

[workspace.dependencies]
# Internal dependencies from Kellnr
common = { path = "./crates/common" }
db = { path = "./crates/db" }
entity = { path = "./crates/db/entity" }
migration = { path = "./crates/db/migration" }
docs = { path = "./crates/docs" }
index = { path = "./crates/index" }
settings = { path = "./crates/settings" }
web_ui = { path = "./crates/web_ui" }
registry = { path = "./crates/registry" }
db_testcontainer = { path = "./crates/db/db_testcontainer" }
auth = { path = "./crates/auth" }
error = { path = "./crates/error" }
appstate = { path = "./crates/appstate" }
storage = { path = "./crates/storage" }
minio_testcontainer = { path = "./crates/storage/minio_testcontainer" }

# External dependencies from crates.io
jsonwebtoken = "9.3.0"
reqwest = {version = "0.12.14", features = ["json", "blocking", "gzip", "http2", "deflate"]}
serde = {version = "1.0.218", features = ["derive"]}
sysinfo = "0.34.2"
semver = "1.0.26"
regex = "1.11.1"
serde_json = "1.0.139"
mockall = "0.13.1"
rand = "0.9.0"
chrono = "0.4.41"
thiserror = "2.0.12"
sea-orm = { version = "1.1.9", features = [ "sqlx-postgres", "sqlx-sqlite", "runtime-tokio-rustls", "macros" ] }
sea-query = "0.32.3"
sea-query-derive = "0.4.3"
sea-orm-migration = { version = "1.1.7", features = [ "sqlx-postgres", "sqlx-sqlite", "runtime-tokio-rustls" ] }
rm_rf = "0.6.2"
testcontainers = "0.23.3"
quote = "1.0.39"
syn = {version = "2.0.101", features = ["full"]}
trybuild = {version = "1.0.99", features = ["diff"]}
zip = "2.6.1"
flate2 = "1.1.1"
tar = "0.4.44"
cargo = "0.86.0"
fs_extra = "1.3.0"
wax = "0.6.0"
proc-macro2 = "1.0.94"
moka = {version = "0.12.10", features = ["future"]}
config = "0.15.11"
toml = "0.8.22"
time = "0.3.39"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["json", "fmt"] }
flume = "0.11.1"
axum = { version = "0.8.4", features = ["macros", "http2"] }
axum-extra = { version = "0.10.0", features = ["cookie", "cookie-private", "typed-header"] }
tokio = { version = "1.44.2", features = ["macros"] }
tower = { version = "0.5.2", features = ["util"] }
hyper = "1.6.0"
tower-http = { version = "0.6.4", features = ["fs", "trace"] }
cookie = { version = "0.18.1", features = ["private", "percent-encode"] }
url = "2.5.4"
http-body-util = "0.1.2"
sha256 = "1.5.0"
object_store = { version = "0.12.0", features = ["aws"] }
bytes = "1.10.0"
async-trait = "0.1.88"

[profile.release]
lto = "off"
strip = true

# Profile for the CI build in "release"
# to build as fast as possible
[profile.ci-release]
lto = "thin"
inherits = "release"
incremental = false

# Profile for the CI build in "debug"
# to build as fast as possible
[profile.ci-dev]
inherits = "dev"
incremental = false
lto = "off"
