[workspace]
exclude = [
  "crates/test_data",
]
members = [
  "crates/*",
  "crates/db/entity",
  "crates/db/migration"
]
default-members = ["crates/kellnr"]
resolver = "2"

[workspace.package]
authors = ["kellnr.io"]
edition = "2021"
version = "0.1.0"

[workspace.dependencies]
# Internal dependencies from Kellnr
common = {path = "./crates/common"}
db = {path = "./crates/db"}
entity = { path = "./crates/db/entity" }
migration = {path = "./crates/db/migration"}
derive_jsonresponder = {path = "./crates/derive_jsonresponder"}
docs = {path = "./crates/docs"}
index = {path = "./crates/index"}
json_payload = {path = "./crates/json_payload"}
settings = {path = "./crates/settings"}
web_ui = {path = "./crates/web_ui"}
registry = {path = "./crates/registry"}
pg_testcontainer = { path = "./crates/db/pg_testcontainer" }
auth = { path = "./crates/auth" }
error = { path = "./crates/error" }

# External dependencies from crates.io
anyhow = "1.0.75"
jsonwebtoken = "8.3.0"
reqwest = {version = "0.11.20", features = ["json", "blocking"]}
rocket = {version = "0.5.0-rc.3", features = ["secrets", "json"]}
serde = {version = "1.0.164", features = ["derive"]}
sysinfo = "0.29.10"
rocket_cors = "0.6.0-alpha2"
#rocket_cors = { git = "https://github.com/secana/rocket_cors", branch = "master" }
#rocket_cors = { git = "https://github.com/lawliet89/rocket_cors.git", rev = "54fae070"  }
semver = "1.0.19"
regex = "1.8.3"
serde_json = "1.0.107"
mockall = "0.11.4"
rand = "0.8.5"
chrono = "0.4.31"
hex = "0.4.3"
sha2 = "0.10.8"
thiserror = "1.0.40"
sea-orm = { version = "0.11.3", features = [ "sqlx-postgres", "sqlx-sqlite", "runtime-tokio-rustls", "macros" ] }
sea-query = "0.28.5"
sea-query-derive = "0.3.0"
sea-orm-migration = { version = "0.11.3", features = [ "sqlx-postgres", "sqlx-sqlite", "runtime-tokio-rustls" ] }
rm_rf = "0.6.2"
testcontainers = "0.14.0"
quote = "1.0.33"
syn = {version = "2.0.18", features = ["full"]}
trybuild = {version = "1.0.80", features = ["diff"]}
zip = "0.6.6"
flate2 = "1.0.27"
tar = "0.4.40"
cargo = "0.71.0"
fs_extra = "1.3.0"
wax = "0.5.0"
proc-macro2 = "1.0.60"
cached = "0.44.0"
config = "0.13.3"
toml = "0.8.1"
time = "0.3.29"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["json", "fmt"]}
flume = "0.11.0"

[profile.release]
lto = "thin"
strip = true

