[workspace]
exclude = [
  "crates/test_data",
]
members = [
  "crates/*",
  "crates/db/entity",
  "crates/db/migration"
]
default-members = ["crates/kellnr"]
resolver = "2"

[workspace.package]
authors = ["kellnr.io"]
edition = "2021"
version = "0.1.0"
license-file = "LICENSE"

[workspace.dependencies]
# Internal dependencies from Kellnr
common = {path = "./crates/common"}
db = {path = "./crates/db"}
entity = { path = "./crates/db/entity" }
migration = {path = "./crates/db/migration"}
docs = {path = "./crates/docs"}
index = {path = "./crates/index"}
settings = {path = "./crates/settings"}
web_ui = {path = "./crates/web_ui"}
registry = {path = "./crates/registry"}
pg_testcontainer = { path = "./crates/db/pg_testcontainer" }
auth = { path = "./crates/auth" }
error = { path = "./crates/error" }
appstate = { path = "./crates/appstate" }
storage = { path = "./crates/storage" }

# External dependencies from crates.io
anyhow = "1.0.95"
jsonwebtoken = "9.3.0"
reqwest = {version = "0.12.11", features = ["json", "blocking", "gzip", "http2", "deflate"]}
serde = {version = "1.0.217", features = ["derive"]}
sysinfo = "0.32.0"
semver = "1.0.24"
regex = "1.11.1"
serde_json = "1.0.134"
mockall = "0.13.1"
rand = "0.8.5"
chrono = "0.4.39"
thiserror = "2.0.9"
sea-orm = { version = "1.1.3", features = [ "sqlx-postgres", "sqlx-sqlite", "runtime-tokio-rustls", "macros" ] }
sea-query = "0.32.1"
sea-query-derive = "0.4.2"
sea-orm-migration = { version = "1.1.1", features = [ "sqlx-postgres", "sqlx-sqlite", "runtime-tokio-rustls" ] }
rm_rf = "0.6.2"
testcontainers = "0.23.1"
quote = "1.0.38"
syn = {version = "2.0.93", features = ["full"]}
trybuild = {version = "1.0.99", features = ["diff"]}
zip = "2.2.2"
flate2 = "1.0.35"
tar = "0.4.43"
cargo = "0.83.0"
fs_extra = "1.3.0"
wax = "0.6.0"
proc-macro2 = "1.0.92"
moka = {version = "0.12.8", features = ["future"]}
config = "0.14.1"
toml = "0.8.19"
time = "0.3.37"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["json", "fmt"]}
flume = "0.11.1"
axum = { version = "0.7.9", features = ["macros", "http2"] }
axum-extra = { version = "0.9.6", features = ["cookie", "cookie-private", "typed-header"] }
tokio = { version = "1.42.0", features = ["macros"] }
tower = { version = "0.5.2", features = ["util"] }
hyper = "1.5.2"
tower-http = { version = "0.6.2", features = ["fs", "trace"] }
cookie = { version = "0.18.1", features = ["private", "percent-encode"] }
futures = "0.3.30"
url = "2.5.4"
http-body-util = "0.1.2"
sha256 = "1.5.0"

[profile.release]
lto = "off"
strip = true

# Profile for the CI build in "release"
# to build as fast as possible
[profile.ci-release]
lto = "on"
inherits = "release"
incremental = false

# Profile for the CI build in "debug"
# to build as fast as possible
[profile.ci-dev]
inherits = "dev"
incremental = false
lto = "off"


