[package]
name = "entity"
version.workspace = true
edition.workspace = true
publish = false

[lib]
name = "entity"
path = "src/lib.rs"

[dependencies]
sea-orm.workspace = true

[lints]
workspace = true
