[package]
name = "minio_testcontainer"
version.workspace = true
edition.workspace = true
autotests = false
publish = false

[lib]
proc-macro = true

[dependencies]
quote.workspace = true
syn.workspace = true

[lints]
workspace = true
